@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body {
	font-family: Lato, "Helvetica", Helvetica, sans-serif;
	/*font-style: italic;*/
	background-color: #D5C59F;
	height: 100%;
}	
h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 40px;
	font-style: italic;
	color: #56452D;
	position: fixed;
	text-align: center;
}
#header {
	margin-left: 400px;
	margin-top: 250px;
}
#search {
	margin-top: 150px;
	margin-left: 600px;
}
#getImg {
	margin-bottom: 20px
}

button {
	background-color: #8e7437;
	color: #4a3113;
	border-radius: 3px;
	border: 2px solid #4a3113;
	width: 250px;
}

#origin {
    line-height:30px;
    height:100%;
    width: 40%;
    float: left;
    padding: 5px;
    padding-left: 70px 
}
#result {
    width:350px;
    float:left;
    padding:10px; 
    height: 100%;
    padding-left: 80px;
}

h3 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 21px;
	font-weight: bold;
	font-style: italic;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 30px;
	padding-bottom: 20px;
}

h5 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 30px;
}

#testI {
	margin-left: 30px;
	margin-top: 70px;
	float: left;
	width: 380px;
	height: 480px;
}

img {
	margin-left: 30px;
	margin-top: 50px;
	float: left;
	width: 200px;
	height: 300px;
}
#result1_art {
	float: right;
	margin-top: 50px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 17px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 350px;
	margin-top: 70px;
}

#result2_art {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 17px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 350px;
	margin-top: 480px;
}

#original_art {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 17px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 80px;
	margin-top: 580px;
}

#result1_per {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 17px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 350px;
	margin-top: 90px;
}
#result2_per {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 13px;
	color: #56452D;
	position: fixed;
	text-align: center;
	margin-left: 350px;
	margin-top: 500px;
}

